module.exports = {
  transform: {
    '^.+\\.ts{{ @if(it.isReactLibrary) }}x?{{ /if }}$': 'ts-jest',
  },
  testRegex: '(/tests/.*|(\\.|/)(test|spec))\\.ts{{ @if(it.isReactLibrary) }}x?{{ /if }}$',
  testPathIgnorePatterns: ['/lib/', '/node_modules/'],
  moduleFileExtensions: ['js', 'ts'{{ @if(it.isReactLibrary) }}, 'tsx'{{ /if }}],
  collectCoverage: true,
  rootDir: '.',
  moduleNameMapper: {
    '@/(.*)': '<rootDir>/src/$1',
  },
}
